\:host
    width: 640px
    display: block
    padding: 16px

    .add-timezone-inner-wrapper
        padding: 16px

        mat-form-field
            width: 100%
            margin-bottom: 16px

    .success
        color: #4bb543
        margin: 0

    .delete-timezone
        color: #cc0000
