\:host
    display: block
    padding: 12px

    & > div:first-child
        mat-icon
            cursor: pointer
            color: #999999

    .no-timezones
        width: 230px

        a
            color: #0000ee

    .analog-clock-wrapper
        width: 160px
