<div fxLayout="row" fxLayoutAlign="end">
    <mat-icon (click)="addTimezone()">edit</mat-icon>
</div>

<ng-container *ngIf="timezones$ | async as timezones">
    <p class="text-center no-timezones" *ngIf="!timezones.length">
        You don't have any timezones yet. <a [routerLink]="'add-timezone'">Add one now.</a>
    </p>
    <div class="overflow-x">
        <div fxLayout="row inline" fxLayoutAlign="center" fxLayoutGap="16px">
            <div class="analog-clock-wrapper" *ngFor="let timezone of timezones">
                <app-analog-clock [timezone]="timezone"></app-analog-clock>
            </div>
        </div>
    </div>

</ng-container>
